@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box
}

body{
    font-family: 'Poppins', sans-serif;    
}

h1 {
    text-align: center;
}    

ul {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    list-style-type: none;
    padding: 0;

}

ul li {
    margin: 20px;
    width: 300px;
}

ul li a {
    color: black;
    font-size: 14px;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}

ul li a img {
    height: 200px;
    width: 300px;
    object-fit: cover;
    margin-bottom: 10px;
    max-width: 100%;
    transition: transform 0.3s ease ;
}

ul li a:hover img {
    transform: scale(1.05);
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    font-size: 14px;
    width: 100%;
    padding: 10px; 
}

footer a {
    color: white;
}


