@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  margin: 0;
}

h1 {
  text-align: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  text-align: center;
}

ul li {
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 20px;
  width: 300px;
  transition: transform 0.3s ease;
  height: 270px;
}

ul li a {
  color: black;
  font-size: 14px;
  text-decoration: none;
}

ul li a img {
  display: block;
  border-radius: 4px 4px 0 0;
  height: 200px;
  width: 300px;
  object-fit: cover;
  margin-bottom: 10px;
  max-width: 100%;
}

ul li:hover {
  transform: scale(1.05);
}

footer {
  background-color: #222;
  color: white;
  font-size: 14px;
  padding: 10px;
  text-align: center;
  margin-top: auto;
}

footer a {
  color: white;
}

.fa-heart {
  color: #D23333;
}
