* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Space Mono', monospace;
  background-color: #c5e4e7;
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .logo {
  margin: 5rem 0 3.5rem 0;
}

.container .card {
  background-color: white;
  width: 100%;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
  padding: 2.5rem;
}

.container .card .input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}

.container .card .input .label-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.6rem 0;
}

.container .card .input .label-wrapper label {
  color: #5e7a7d;
  font-size: 1.5rem;
  font-weight: 700;
}

.container .card .input .label-wrapper .error-msg {
  color: indianred;
  font-size: 1.5rem;
  font-weight: 700;
}

.container .card .input .input-wrapper {
  position: relative;
}

.container .card .input .input-wrapper img {
  position: absolute;
  left: 2.4rem;
  top: 1.5rem;
  height: 2rem;
}

.container .card .input .input-text {
  background-color: #f4fafa;
  border: none;
  border-radius: 0.5rem;
  color: #00494d;
  font-family: 'Space Mono', monospace;
  font-size: 2.4rem;
  font-weight: 700;
  padding: 0.5rem 2.4rem;
  text-align: right;
  width: 100%;
}

.container .card .input .input-text:focus {
  outline: none;
  border: 2px solid #26c0ab;
}

.container .card .input .btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 1.2rem;
}

.container .card .input .btn-wrapper .btn {
  width: 46%;
  text-align: center;
  background-color: #00494d;
  color: white;
  font-size: 2.4rem;
  font-weight: 700;
  border-radius: 0.5rem;
  padding: 0.6rem 0;
}

.container .card .input .btn-wrapper .btn-active {
  background-color: #26c0ab;
  color: #00494d;
}

.container .card .input .btn-wrapper .input-text {
  width: 46%;
}

.container .card .output {
  background-color: #00494d;
  width: 100%;
  color: white;
}
/*# sourceMappingURL=style.css.map */