@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: hsl(204, 43%, 93%);
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Karla', sans-serif;
	padding: 20px;
	margin: 0;
	min-height: 100vh;
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.05);
    max-width: 800px;
	margin: auto;
    overflow: hidden; /* section se sobrepõe*/
    width: 800px;
}

section {
    padding: 35px;
}

.cyan {
    background-color: hsl(179, 62%, 43%);
    color: white;
}

.cyanish {
    background-color: hsl(179, 47%, 52%);
    color: white;
}

.row {
    display: flex;
}

.row > section {
    flex: 1; 
}

h1 {
    color: hsl(179, 62%, 43%);
    font-size: 34px;
    font-weight: 700;
}

.yellow-text {
    color:hsl(71, 73%, 54%);
    font-weight: 700;
}

p {
    font-size: 18px;  
    font-weight: 400; 
}

p.grayish-blue {
    color: hsl(218, 22%, 67%);
    margin: 8px;
}

p.faded {
    color: hsl(179, 43%, 75%);
    display: flex;
    align-items: center;
}

p.faded span {
    color: white;
    font-size: 40px;
    margin-right: 14px;
}

button {
    background-color:hsl(71, 73%, 54%);
    border-radius: 5px;
    border: none;
    box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.05);
    color: white;
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-top: 15px;
    padding: 20px 0;
    width: 100%;
}



ul {
    list-style-type: none;
    padding: 0;
    opacity: 0.7;
}

ul li {
    line-height: 28px;
}

@media screen and (max-width: 600px) {
    .row {
        flex-direction: column;
    }
}